<div class="row">
<div class="col-8 p-3">
<%# <div class="container mt-3" style="width: 1200px;"> %>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="height: 500px; border-radius: 3%;">
      <% @caban.photos.each_with_index do |photo, index| %>
      <% if index == 0 %>
        <div class="carousel-item active">
      <% else %>
        <div class="carousel-item">
      <% end %>
          <%= cl_image_tag photo.key, height: 500, width: 1200, crop: :fill %>
        </div>
      <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
<%# </div> %>
</div>
</div>

<div class="col-4 p-3">
<div class="container">
  <h1><%="Sélectionnez vos dates pour #{@caban.name}" %></h1>
  <div data-controller="dynamic-booking-price"
       data-dynamic-booking-price-price-value="<%= @caban.price %>">
    <%= simple_form_for [@caban, @booking],
                    html: {
                      data: {
                        controller: 'flatpickr',
                        flatpickr_dates_value: @caban.flatpickr_booked_dates_object
                      }
                    } do |f| %>
      <div class="row">
        <div class="col">
          <%= f.input :start_date, as: :string, label: false,
                    input_html:  {
                      class: 'd-none',
                      data: {
                        flatpickr_target: 'startDateInput',
                        dynamic_booking_price_target: 'startDateInput',
                        action: 'change->dynamic-booking-price#updatePrice'
                      }
                    } %>
        </div>
        <div class="col">
          <%= f.input :end_date, as: :string, label: false,
                    input_html: {
                      class: 'd-none',
                     data: {
                      flatpickr_target: 'endDateInput',
                      dynamic_booking_price_target: 'endDateInput',
                      action: 'change->dynamic-booking-price#updatePrice'
                     }
                    } %>
        </div>
      </div>
      <%= f.input :status, as: :hidden, input_html: { value: "pending" } %>

    <p class="border-top"> Prix total de la réservation : <span data-dynamic-booking-price-target="priceHolder"><%= @caban.price %></span> € </p>
  <div class="d-flex justify-content-between">
      <%= f.submit "Réserver", class:"btn btn-primary" %>
            <%= link_to "Retour", caban_path(@caban), class: "btn btn-secondary my-2" %>
      <% end %>

  </div>

  </div>
</div>
</div>
</div>
