<div class="container">
<h1> Dashboard </h1>


  <h2> Mes demandes de réservation (en tant que locataire) (<%= @bookings_as_r.count %>) </h2>
  <% @bookings_as_r.each do |booking| %>
  <div class="card-product m-3">
    <% if booking.caban.photos.attached?%>
    <%= cl_image_tag booking.caban.photos.first.key %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= booking.caban.name%></h2>
      <p>From <%= booking.start_date %> to <%= booking.end_date %></p>
      <p> Total de la réservation : <%= ((booking.end_date - booking.start_date).to_i) * booking.caban.price %> €</p>
      <p><%= booking.status %></p>
    </div>
  </div>
  <% end %>

  <h2> Mes demandes de réservation (en tant que propriétaire) (<%= @bookings_as_p.count %>)</h2>
  <% @bookings_as_p.each do |booking| %>
  <div class="card-product m-3">
  <% if booking.caban.photos.attached?%>
    <%= cl_image_tag booking.caban.photos.first.key %>
  <% end %>
    <div class="card-product-infos">
      <h2><%= booking.caban.name%></h2>
      <p>From <%= booking.start_date %> to <%= booking.end_date %></p>
      <p> Total de la réservation : <%= ((booking.end_date - booking.start_date).to_i) * booking.caban.price %> €</p>
      <p><%= booking.status %></p>
      <%= link_to "Accept", accept_booking_path(booking), class: "btn btn-success" %>
      <%= link_to "Refuse", refuse_booking_path(booking), class: "btn btn-danger" %>
    </div>
  </div>

  <% end %>

<h2>Liste de mes cabanes</h2>


  <div class="row">
    <% @cabans_as_p.each do |caban| %>
       <div class="col-lg-3">
          <div class="card-trip">
          <% if caban.photos.attached?%>
              <%= cl_image_tag caban.photos.first.key %>
              <% end %>
          <div class="card-trip-infos">
              <h2><%=caban.name %></h2>
              <h2 class="card-trip-pricing"> <%= caban.price  %> € </h2>
              <%= link_to "Delete", caban_path(caban), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              <%= link_to "Edit", edit_caban_path(caban) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
