<div class="container w-25 p-3">
  <%= simple_form_for [@caban] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price%>
    <%= f.input :address%>
    <%= f.input :photos, as: :file, input_html: {multiple:true}, class: "mr-auto p-2" %>
    <%= f.submit "Update", class: "btn btn-primary p-2" %>
    <%= link_to "Back", dashboard_path, class: "btn btn-primary p-2" %>
  <% end %>
</div>
