
<div class="pages">
  <div class="d-flex justify-content-center p-3 search w-100">
    <%= form_with url: cabans_path, method: :get, class: "d-flex w-50" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a caban" %>
      <%= submit_tag "Search", class: "btn btn-primary me-3" %>
    <% end %>
    <div class="dropdown">
      <a class="align-items-center btn btn-secondary d-flex dropdown-toggle h-100" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Trier par prix
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li class="dropdown-item"><%= link_to "Croissant", cabans_path(order: "ASC"), class: "text-decoration-none" %></li>
        <li class="dropdown-item"><%= link_to "Décroissant", cabans_path(order: "DESC"), class: "text-decoration-none"%></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-6 grid-2-col" style="height: fit-content">
      <% @cabans.each do |caban| %>
        <%= link_to caban_path(caban), class:"text-decoration-none", style:"color: black; height: fit-content" do %>
          <div class="card-trip">


            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner" >
                <% caban.photos.each_with_index do |photo, index|%>

                  <% if index == 0 %>
                    <div class="carousel-item active">
                      <%= cl_image_tag photo.key, style:"width: 100%; height: 200px;", crop: :fill%>
                    </div>
                  <% else %>
                    <div class="carousel-item">
                      <%= cl_image_tag photo.key, style:"width: 100%; height: 200px;", crop: :fill%>
                    </div>
                  <% end %>

                <% end %>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>

              </div>
            </div>

            <div class="card-trip-infos">
              <div>
                <h2><%=caban.name.capitalize %></h2>
                <p><%= caban.address.capitalize %></p>
              </div>
              <h2 class="card-trip-pricing"><%= caban.price %>€</h2>
            </div>

          </div>
        <% end %>

      <% end %>


    </div>


    <div class="col-6">
      <div style="height: 100vh; position: sticky; top: 0;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>



</div>
</div>
